.container {
  max-width: 922px;
  margin: auto;

  .sidebar {
    width: 266px;
    position: fixed;
    background-color: #fafafa;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 74px;
    border-right
  }

  .tasks {
    width: 656px;
    margin-left: 266px;
  }
}
